__pycache__/*
.ipynb_checkpoints/*
callback/*
singularity/tmp/*
log/*
.local/*
src/__pycache__/*

config.ini
*.sif
run.sh
chokosen-loveti.*
*.out
*.csv
!data/test_cases.csv

*.o
*.asansprints/001/figures/fig1_execution_time_breakdown.png
sprints/001/figures/fig2_dyn_sta_ratio_vs_sd.png
sprints/001/figures/fig3_gpu_improvement_vs_pre_cost.png
